---
export const prerender = false;
const pages = [
    { i: 1, src: "/src/assets/-01.webp" },
    { i: 2, src: "/src/assets/-02.webp" },
    { i: 3, src: "/src/assets/-03.webp" },
    { i: 4, src: "/src/assets/-04.webp", titolo: "Indice" },
    { i: 5, src: "/src/assets/-05.webp" },
    { i: 6, src: "/src/assets/-06.webp" },
    { i: 7, src: "/src/assets/-07.webp" },
    { i: 8, src: "/src/assets/-08.webp" },
    { i: 9, src: "/src/assets/-09.webp" },
    { i: 10, src: "/src/assets/-10.webp" },
    { i: 11, src: "/src/assets/-11.webp" },
    { i: 12, src: "/src/assets/-12.webp" },
    { i: 13, src: "/src/assets/-13.webp" },
    { i: 14, src: "/src/assets/-14.webp" },
    { i: 15, src: "/src/assets/-15.webp" },
    { i: 16, src: "/src/assets/-16.webp" },
    { i: 17, src: "/src/assets/-17.webp" },
    { i: 18, src: "/src/assets/-18.webp" },
    { i: 19, src: "/src/assets/-19.webp" },
    { i: 20, src: "/src/assets/-20.webp" },
    { i: 21, src: "/src/assets/-21.webp" },
    { i: 22, src: "/src/assets/-22.webp" },
    { i: 23, src: "/src/assets/-23.webp" },
    { i: 24, src: "/src/assets/-24.webp" },
    { i: 25, src: "/src/assets/-25.webp" },
    { i: 26, src: "/src/assets/-26.webp" },
    { i: 27, src: "/src/assets/-27.webp" },
    { i: 28, src: "/src/assets/-28.webp" },
    { i: 29, src: "/src/assets/-29.webp" },
    { i: 30, src: "/src/assets/-30.webp" },
    { i: 31, src: "/src/assets/-31.webp" },
    { i: 32, src: "/src/assets/-32.webp" },
    { i: 33, src: "/src/assets/-33.webp" },
];
import type { ImageMetadata } from "astro";
import Layout from "../layouts/Layout.astro";
import QRgenerator from "../components/QRgenerator.astro";
const indice = [];
const index_buffer: Array<number | null> = [1, null];
pages.forEach((p, pi) => {
    let lastpage = false;
    if (pi === pages.length - 1) lastpage = true;
    indice.push({
        text:
            p.i !== pages.length
                ? `${(p.i >= 2 ? index_buffer[0] : 1).toString()} ${p.i > 1 ? "-" : ""} ${p.i > 1 ? (pages[pi + 1] ? index_buffer[1].toString() : "") : ""}`
                : index_buffer[0].toString(),
        index: p.i > 1 ? (p.i !== pages.length ? p.i : pages.length) : 1,
        titolo: p.titolo ?? "",
        pages: index_buffer.map((e, i) => (lastpage && i === 1 ? null : e)),
    });
    if (lastpage) return;
    index_buffer[0] = index_buffer[1] === null ? 2 : index_buffer[0] + 2;
    index_buffer[1] = index_buffer[1] === null ? 3 : index_buffer[1] + 2;
});

const images = import.meta.glob<{ default: ImageMetadata }>("/src/assets/*");
const { i } = Astro.params;
const dirParam = new URL(Astro.request.url).searchParams.get("dir");
const dir = !!Number(dirParam ?? 1);
if (!i) return Astro.redirect("/404");
const index = Number(i);
if (index <= 0) return Astro.redirect("/" + pages.length.toString());
if (index > pages.length) return Astro.redirect("/1");
const test = pages.find((p) => p.i === index);
const indice_attuale = indice.find((i) => test && i && test.i === i.index);
if (!test || !images[test.src]) return Astro.redirect("/404");

const img1 =
    "data:image/webp;base64," +
    Buffer.from(
        await (
            await fetch(
                new URL(Astro.request.url).origin +
                    (await images[test.src]()).default.src,
            )
        ).arrayBuffer(),
    ).toString("base64");
let nextIndex = 1;
if (dir) {
    nextIndex = index + 1 <= pages.length ? index + 1 : 1;
} else {
    nextIndex = index - 1 > 0 ? index - 1 : pages.length;
}
const nextUrl =
    new URL(Astro.request.url).origin +
    "/" +
    nextIndex +
    "?dir=" +
    Number(dir).toString();
const animation = dir ? "anime-in" : "anime-in-b";
Astro.response.headers.set("cache-control", "public, max-age=3600");
---

<Layout title="SOUP Magazine Online">
    <main class="main-container">
        <button
            class="md:hidden hidden z-20 bg-white hover:bg-white text-black font-bold py-2 px-4 absolute left-0 top-0 rounded"
            id="active-index"
        >
        </button>
        <QRgenerator />

        <div id="indice" class="indice hidden lg:block">
            <ul>
                {
                    indice.map(
                        (i) =>
                            i && (
                                <li class="index-elem" index={i.index}>
                                    {i.text} {i.titolo ?? ""}
                                </li>
                            ),
                    )
                }
            </ul>
        </div>
        <div class="absolute w-fit left-auto top-0 right-auto bg-white">
            {indice_attuale.text}
        </div>
        <div class="cursor hidden lg:block" id="cursor"></div>
        <div style="display: none; position: absolute;" id="nextUrl">
            {nextUrl}
        </div>
        <button class="nav-button left"></button>
        <div class=`container` id="container">
            <img
                loading="eager"
                id="img"
                class=`image ${animation}`
                src={img1}
                alt="test failed"
            />
        </div>
        <button class="nav-button right"></button>
    </main>
    <script>
        import { navigate } from "astro:transitions/client";

        document.addEventListener("astro:page-load", () => {
            const img = document.getElementById("img");
            const nextUrl = document.getElementById("nextUrl").textContent;
            const cursor = document.getElementById("cursor");
            const indice = document.getElementById("indice");
           
            indice.addEventListener("mouseleave", () => {
                indice.classList.add("fadeOut");
            });
           
            Array.from(document.getElementsByClassName("index-elem")).forEach(
                (e) =>
                    e.addEventListener("click", () => {
                        navigate(e.getAttribute("index") + "?dir=1");
                    }),
            );
            document.addEventListener("mousemove", (event) => {
                cursor.style.top = event.clientY + "px";
                cursor.style.left = event.clientX + "px";
            });
            document.addEventListener("mouseover", (event) => {
                cursor.style.top = event.clientY + "px";
                cursor.style.left = event.clientX + "px";
            });
            function changePage(dir: boolean) {
                if (!dir) {
                    img.classList.add("anime-out-b");
                } else {
                    img.classList.add("anime-out");
                }
            }
            document
                .querySelector(".left")
                .addEventListener("click", () => changePage(false));
            document
                .querySelector(".right")
                .addEventListener("click", () => changePage(true));
            img.addEventListener("animationend", (event) => {
                if (event.animationName === "flipOutY")
                    navigate(
                        (
                            Number(window.location.pathname.slice(1)) + 1
                        ).toString() + "?dir=1",
                    );
                if (event.animationName === "flipOutYB")
                    navigate(
                        (
                            Number(window.location.pathname.slice(1)) - 1
                        ).toString() + "?dir=0",
                    );
                if (
                    event.animationName === "flipInYB" ||
                    event.animationName === "flipInY"
                ) {
                    fetch(nextUrl, {
                        headers: {
                            "Cache-Control": "public, max-age=3600",
                        },
                    });
                }
            });
        });
    </script>
</Layout>
<style>
    .indice {
        position: absolute;
        left: 0;
        top: 0;
        background-color: wheat;
        width: fit-content;
        z-index: 200;
        opacity: 0;
    }
    .indice:hover {
        animation: fadeIn 0.5s ease-in forwards !important;
    }

    .left {
        left: 0;
    }
    .right {
        right: 0;
    }
    .nav-button {
        position: absolute;
        height: 100%;
        width: 50vw;
        background-color: transparent;
        border: none;
        outline: none;
        z-index: 100;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        height: 90%;
    }

    .main-container {
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: none;
    }

    .image {
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .anime-in {
        animation: flipInY 1.3s ease-in-out forwards !important;
    }
    .anime-in-b {
        animation: flipInYB 1.3s ease-in-out forwards !important;
    }

    .anime-out {
        animation: flipOutY 1.3s linear forwards !important;
    }
    .anime-out-b {
        animation: flipOutYB 1.3s linear forwards !important;
    }

    @-webkit-keyframes flipInY {
        from {
            -webkit-transform: perspective(1000px) rotateY(180deg);
            transform: perspective(1000px) rotateY(180deg);
            -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
            opacity: 0;
            background-color: wheat;
        }

        45% {
            -webkit-transform: perspective(1000px) rotateY(90deg);
            transform: perspective(1000px) rotateY(90deg);
            -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
            opacity: 0;
            background-color: wheat;
        }

        55% {
            -webkit-transform: perspective(1000px) rotateY(90deg);
            transform: perspective(1000px) rotateY(90deg);
            -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
            opacity: 0.2;
            background-color: wheat;
        }

        to {
            -webkit-transform: perspective(1000px);
            transform: perspective(1000px);
            opacity: 1;
        }
    }

    @keyframes flipInY {
        from {
            -webkit-transform: perspective(1000px) rotateY(180deg);
            transform: perspective(1000px) rotateY(180deg);
            -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
            opacity: 0;
            background-color: wheat;
        }

        45% {
            -webkit-transform: perspective(1000px) rotateY(90deg);
            transform: perspective(1000px) rotateY(90deg);
            -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
            opacity: 0;
            background-color: wheat;
        }

        55% {
            -webkit-transform: perspective(1000px) rotateY(90deg);
            transform: perspective(1000px) rotateY(90deg);
            -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
            opacity: 0.2;
            background-color: wheat;
        }

        to {
            -webkit-transform: perspective(1000px);
            transform: perspective(1000px);
            opacity: 1;
        }
    }

    @keyframes flipInYB {
        from {
            -webkit-transform: perspective(1000px) rotateY(-180deg);
            transform: perspective(1000px) rotateY(-180deg);
            -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
            opacity: 0;
            padding-left: 10%;
            background-color: wheat;
        }

        45% {
            -webkit-transform: perspective(1000px) rotateY(-90deg);
            transform: perspective(1000px) rotateY(-90deg);
            -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
            padding-left: 10%;
            opacity: 0;
            background-color: wheat;
        }

        55% {
            -webkit-transform: perspective(1000px) rotateY(-90deg);
            transform: perspective(1000px) rotateY(-90deg);
            -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
            padding-left: 10%;
            opacity: 0.2;
            background-color: wheat;
        }

        to {
            -webkit-transform: perspective(1000px);
            transform: perspective(1000px);
            opacity: 1;
            padding-left: 0;
        }
    }
    @-webkit-keyframes flipInYB {
        from {
            -webkit-transform: perspective(1000px) rotateY(-180deg);
            transform: perspective(1000px) rotateY(-180deg);
            -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
            opacity: 0;
            background-color: wheat;
        }

        45% {
            -webkit-transform: perspective(1000px) rotateY(-90deg);
            transform: perspective(1000px) rotateY(-90deg);
            -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
            padding-left: 10%;
            opacity: 0;
            background-color: wheat;
        }

        50% {
            -webkit-transform: perspective(1000px) rotateY(-90deg);
            transform: perspective(1000px) rotateY(-90deg);
            -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
            padding-left: 10%;
            opacity: 0.2;
            background-color: wheat;
        }

        to {
            -webkit-transform: perspective(1000px);
            transform: perspective(1000px);
            opacity: 1;
        }
    }

    @-webkit-keyframes flipOutY {
        from {
            -webkit-transform: perspective(1000px);
            transform: perspective(1000px);
        }
        45% {
            opacity: 1;
        }
        50% {
            opacity: 0;
            background-color: wheat;
            padding-right: 10%;
        }

        to {
            -webkit-transform: rotateY(-180deg);
            transform: perspective(1000px) rotateY(-180deg);
            opacity: 0;
            width: 100%;
            background-color: wheat;
        }
    }

    @keyframes flipOutY {
        from {
            -webkit-transform: perspective(1000px);
            transform: perspective(1000px);
        }
        45% {
            opacity: 1;
        }
        50% {
            opacity: 0;
            background-color: wheat;
            padding-right: 10%;
        }

        to {
            -webkit-transform: rotateY(-180deg);
            transform: perspective(1000px) rotateY(-180deg);
            opacity: 0;
            width: 100%;
            background-color: wheat;
        }
    }

    @-webkit-keyframes flipOutYB {
        from {
            -webkit-transform: perspective(1000px);
            transform: perspective(1000px);
        }
        45% {
            opacity: 1;
        }
        50% {
            opacity: 0;
            padding-left: 10%;
            background-color: wheat;
        }

        to {
            -webkit-transform: perspective(1000px) rotateY(180deg);
            transform: perspective(1000px) rotateY(180deg);
            opacity: 0;
        }
    }

    @keyframes flipOutYB {
        from {
            -webkit-transform: perspective(1000px);
            transform: perspective(1000px);
        }
        45% {
            opacity: 1;
        }
        50% {
            opacity: 0;
            padding-left: 10%;
            background-color: wheat;
        }

        to {
            -webkit-transform: perspective(1000px) rotateY(180deg);
            transform: perspective(1000px) rotateY(180deg);
            opacity: 0;
        }
    }
</style>
